.container {
  border-radius: 8px;
  background: #f0f9ff;
  padding: 20px;
}
.title {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
}
.number {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
}
