.container {
  width: 270px;
  height: 100vh;
  position: fixed;
  background: #f2eae1;
  padding-top: 18px;
  padding-bottom: 18px;
  overflow-y: auto;
}
.title {
  font-size: 20px;
  font-weight: 700;
}

.user_info {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 1px solid red;
    display: grid;
    place-content: center;
  }
  .username {
    font-size: 17px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .userrole {
    color: #feaf00;
    font-size: 14px;
    font-weight: 500;
  }
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  .sidebar_items {
    max-width: 193px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .item {
      border-radius: 4px;
      border: 1px solid red;
      padding: 11px 10px 13px 41px;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
  .logout {
    display: flex;
    gap: 23px;
    align-items: center;
  }
}
