.container {
  width: 270px;
  height: 100vh;
  background: #f2eae1;
  padding-top: 18px;
  padding-bottom: 18px;
  overflow-y: auto;
  flex-shrink: 0;
}
.title {
  font-size: 20px;
  font-weight: 700;
  border-left: 4px solid #feaf00;
  padding-left: 12.5px;
  margin-left: 25px;
}

.user_info {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    overflow: hidden;
  }
  .username {
    font-size: 17px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .userrole {
    color: #feaf00;
    font-size: 14px;
    font-weight: 500;
  }
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  .sidebar_items {
    max-width: 193px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .item {
      border-radius: 4px;
      overflow: hidden;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 500;
      width: 100%;
      .link {
        padding: 11px 10px 13px 41px;
        display: flex;
        align-items: center;
        gap: 15px;
        &.active {
          background: #feaf00;
        }
      }
    }
  }
  .logout {
    display: flex;
    gap: 23px;
    align-items: center;
  }
}
