.container {
  background: linear-gradient(49deg, #feaf00 0%, #f8d442 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 175px;
  padding-bottom: 175px;
  padding-left: 16px;
  padding-right: 16px;
}
